.entryCard {
    margin: 5px;
    padding: 12px 0px 12px 3px;
    border-radius: 3px;
    background-color: #fafafa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    align-items: flex-start;
    padding: 3px 12px;
}

.label {
    background-color: #e6e6e6;
    padding: 10px 12px;
    font-weight: bold;
    text-align: center;
    min-width: 100px;
    font-size: 0.9rem;
    line-height: 1.2;
    color: var(--text-color)
}

.value {
    padding: 5px 0px 5px 10px;
    flex-grow: 1;
    font-weight: bold;
    font-size: 1rem;
    list-style: none; 
    margin: 2px;
    color: var(--text-color)
}

.entryButtons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 16px;
}

.changeButton {
    background-color: var(--pink-color);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.deleteButton {
    background-color: var(--blue-hover);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 8px;
}


.changeButton:hover,
.deleteButton:hover {
    opacity: 0.9;
}