.statusBox {
    margin-bottom: 3px;
    padding: 4px 8px; 
    background-color: var(--green-color);
    text-align: left;
    width: 180px;
}

.statusText {
    font-size: 0.9rem;
    color: black
}

.card {
    margin-bottom: 16px;
    padding: 12px 0px 12px 8px;
    border-radius: 3px;
    background-color: #eeffe9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.label {
    background-color: #bbf0a4;
    padding: 10px 12px;
    font-weight: bold;
    text-align: center;
    min-width: 100px;
    font-size: 0.9rem;
    line-height: 1.2;
    color: var(--text-color)
}

.value {
    padding: 5px 0px 5px 10px;
    flex-grow: 1;
    font-weight: bold;
    font-size: 1rem;
    color: var(--text-color)
}
