# OS固有の不要なファイルを無視
.DS_Store

# Node.js の依存関係ディレクトリを無視
node_modules

# ログファイルを無視
*.log

# エディタ設定ディレクトリを無視
.vscode

# 環境設定ファイルを無視（場合によって）
.env

# シンボリックリンクを無視
**/*.symlink
**/.git*

# コンテナビルド時に不要なディレクトリを無視
**/build
**/dist

# 隠しファイルを無視
**/.git
**/.idea

# シンボリックリンクを含む可能性があるディレクトリも無視
frontend/node_modules

